@import "variables";

// Item Mixins
// --------------------------------------------------

@mixin item-style($bg-color, $border-color, $color) {
  border-color: $border-color;
  background-color: $settings;
  color: $button-light-active-bg;
}


