<div class="content overflow-scroll has-header">
    <div class="list">
        <a class="item item-divider">
            <h2>HomFi Controller</h2>
        </a>
        <a class="item item-input">
            <input type="text" placeholder="Controller Host / IP" ng-model="homFiController.host">
        </a>
        <a class="item item-input">
            <input type="text" placeholder="Controller Port" ng-model="homFiController.port">
        </a>
        <a class="item  item-input">
            <button class="button button-block button-outline button-positive" on-touch="saveHomFiController()"> Save</button>
        </a>
    </div>
</div>
