<div class="content main sub-menu">
    <ion-slide-box show-pager="false" does-continue="false" on-slide-changed="changeSlideIndex($index)" active-slide="activeSlide">
        <ion-slide ng-repeat="device in subDevices">
            <div class="tile-container">
                <tile device="device[0]" class="tile-1"></tile>
                <tile device="device[1]" class="tile-2"></tile>
                <tile device="device[2]" class="tile-3"></tile>
            </div>
        </ion-slide>
    </ion-slide-box>
    <div class="slide-menu" ng-show="subDevices && subDevices.length>1">
        <div class="left" on-tap="onPrev()"><div ng-show="slideIndex>0"><i class="ion-ios-undo-outline"></i></div></div>
        <div class="center">
            <div class="slide-item" ng-repeat="device in subDevices" on-tap="selectSlider($index)"><i ng-class="{'ion-ios-circle-outline':slideIndex!==$index, 'ion-ios-circle-filled':slideIndex===$index}"></i></div>
        </div>
        <div class="right" on-tap="onNext()"><div ng-show="slideIndex<subDevices.length-1"><i class="ion-ios-redo-outline"></i></div></div>
    </div>
</div>
