<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Update</h1>
    </ion-header-bar>
    <ion-content>
        <div class="text-center">
        A new version is available !
        </div>
        <div class="row">
            <div class="col-50"><button ng-click="closeModal()" class="button button-outline button-block button-royal"> Cancel</button></div>
            <div class="col-50"><button ng-click="doUpdate()"class="button button-outline button-block button-royal"> Update</button></div>
        </div>
    </ion-content>
</ion-modal-view>
